fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary   # Si usas PostgreSQL
pydantic
python-dotenv     # Para cargar variables de entorno (config DB, etc)
alembic           # Para migraciones de la BD
email-validator
python-jose #Para generar y verificar JWT
passlib[bcrypt] #para hasehar las contraseñas

